body {
  background-color: #eee;
}
.container {
  background-color: #fff;
}
.container > h1 {
  color: #4a4a4a;
  font-weight: bold;
}
.container > p {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: bold;
}
.form input.date {
  border: none;
  background-color: rgba(0, 102, 255, 0.6);
}
.form input.date:focus {
  outline: none;
}

.rates > span {
  color: #4a4a4a;
  font-size: 26px;
}
.rates .line-parent {
  width: 100%;
  height: 10px;
  background-color: #ccc;
}
.rates .line-parent .line {
  width: 0;
}
